//General - Start
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$black: #121212;
$grey: #B9B9B9;
$white: #F9FBFF;
$accent: #DF617F;
$dark-orange: #D18F75;
$skin: #CBB8AE;
$card-bg: #EEEEEE;

body{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, p{
    color: $black;
}
h1{
    font-size: 56px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
    font-weight: 600;
}
h4{
    font-size: 26px;
    font-weight: 600;
}
p{
    font-size: 16px;
}
section{
    margin-top: 200px;
    margin-bottom: 200px;

    &.hero{
        margin-top: auto;
        margin-bottom: auto;
    }
}
.card{
    border: none;
    background-color: $card-bg;
    padding: 0;
    padding-bottom: 13px;
}
//General - End 
//Cards - Start
.cards{
    &__list{
        // column-gap: 30px;
    }
}
//Cards - End
//Exhibition - Start
.exhibition{
    &-2{
        margin-top: 80px;
    }
}
//Exhibition - End