@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, p {
  color: #121212;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 26px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

section {
  margin-top: 200px;
  margin-bottom: 200px;
}
section.hero {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  border: none;
  background-color: #EEEEEE;
  padding: 0;
  padding-bottom: 13px;
}

.exhibition-2 {
  margin-top: 80px;
}