//General - Start
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$black: #121212;
$grey: #B9B9B9;
$white: #F9FBFF;
$accent: #DF617F;
$dark-orange: #D18F75;
$skin: #CBB8AE;
$card-bg: #EEEEEE;

* {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul {
    color: $black;
}

h1 {
    color: $white;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 1.12px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font-size: 26px;
    font-weight: 600;
}

p {
    font-size: 16px;

    &.subtitle {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
    }
}

img {
    max-width: 100%;
}

section {
    margin-top: 60px;
    margin-bottom: 60px;

    &.hero {
        margin-top: auto;
        margin-bottom: auto;
    }

    .section-description {
        margin-bottom: 40px;

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 130%;
        }
    }
}

.card {
    border: none;
    background-color: $card-bg;
    padding: 0;
    padding-bottom: 13px;
}

//General - End 
// Header - Start
.header {
    ul.navbar-nav {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .contacts-button {
        a {
            color: $white;
            padding: 12px 52px;
            border-radius: 4px;
            background: $accent;
            column-gap: 8px;
        }
    }
}

//Header - End
//Hero - Start
.hero {
    height: 800px;
    background: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .row {
        max-width: 100%;

        h1 {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 60px;

        .description {
            color: $white;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 0;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        border-radius: 4px;
        color: $white;
        background-color: $accent;
        font-size: 24px;
        line-height: 100%;
        gap: 8px;
        padding: 16px 24px;
        text-decoration: none;

        &:hover {
            color: $accent;
            border: 2px solid $accent;
            background: $black;
        }
    }
}

//Hero - End
//About - Start
.about {
    .owl-carousel {
        margin: 40px 0;

        .item {
            height: 159px;
            background: $grey;
            padding: 1rem;

            h4 {
                color: $white;
                font-weight: 400;
                margin-top: 0rem;
            }
        }

        .owl-item {
            height: 159px;
        }

        .item-video {
            height: 300px;
        }
    }

    .owl-theme {
        .owl-nav {
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            position: relative;
            top: -96px;

            button.owl-prev,
            button.owl-next {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 32px;
            }

            [class*="owl-"],
            [class*="owl-"]:hover {
                background: none;
            }

            button.owl-prev,
            button.owl-prev:hover {
                background: url('../images/slider-prev-button.png');
            }

            button.owl-next,
            button.owl-next:hover {
                background: url('../images/slider-next-button.svg');
            }

            button.owl-prev span,
            button.owl-next span {
                display: none;
            }

            [class*="owl-"] {
                background-color: none !important;
            }
        }

        .owl-dots {
            padding-top: 16px;

            .owl-dot span {
                background: url('../images/slider-empty-points.svg') center center;
            }

            .owl-dot.active span {
                background: url('../images/slider-fill-point.svg');
            }

            &:hover {
                .owl-dot span {
                    background: url('./images/slider-fill-point.svg');
                }
            }
        }
    }
}

//About - End
//Exhibition - Start
.exhibition {
    &-2 {
        margin-top: 80px;
    }

    .card {
        &__description {
            padding: 0 40px;
        }
    }
}

//Exhibition - End
//Schedule - Start
.schedule {
    .row {
        padding-top: 52px;
        padding-bottom: 52px;
    }

    .row:first-of-type {
        padding-top: 0;
    }

    .row:last-of-type {
        padding-bottom: 0;
    }
}

//Schedule - End
//Partners - Start
.partners {
    .accordion {
        &-button:not(.collapsed) {
            color: $black;
            background-color: $white;
            box-shadow: none;
        }

        &-button:focus {
            border-color: none;
            outline: 0;
            box-shadow: none;
        }

        &-button::after,
        &-button:not(.collapsed)::after {
            background-image: url('../images/open.png');
        }
    }
}

//Partners - End
//Contacts - Start
.contacts {
    background-color: $white;

    ul {
        list-style-type: none;
        padding-left: 0;

        & li,
        li a {
            color: $black;
            font-size: 24px;
            line-height: 150%;
        }

        & li a:hover {
            color: $accent;
        }
    }
}
.contact-form {

    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }

    .form-control:focus {
        border: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    button {
        color: $white;
        box-shadow: none;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        display: flex;
        padding: 8px 20px;
        align-items: flex-start;
        border-radius: 4px;
        border: 2px solid $accent;
        background: $accent;

        &:hover {
            border-radius: 4px;
            border: 2px solid $accent;
            background: $white;
            color: $accent;
        }
    }

    input,
    textarea,
    select {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin-bottom: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}
//Contacts - End
//Footer - Start
.footer {
    padding-top: 52px;
    padding-bottom: 52px;
    background: $black;

    h4,
    p,
    ul,
    a {
        color: $white;
    }

    a {
        text-decoration: none;

        &:hover {
            color: $accent;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        font-size: 16px;
    }
}
//Footer - End
//Modal - Start
.modal{
    h4{
        padding-bottom: 0;
    }
}
//Modal - End
//Medias - Start
@media (max-width: 768) {}

@media (max-width: 360px) {
    .hero {
        background-position: 40% center;

        .caption h1 {
            font-size: 48px;
        }
    }
}