@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul {
  color: #121212;
}

h1 {
  color: #F9FBFF;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 1.12px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 26px;
  font-weight: 600;
}

p {
  font-size: 16px;
}
p.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}
section.hero {
  margin-top: auto;
  margin-bottom: auto;
}
section .section-description {
  margin-bottom: 40px;
}
section .section-description p {
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.card {
  border: none;
  background-color: #EEEEEE;
  padding: 0;
  padding-bottom: 13px;
}

.header ul.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header .contacts-button a {
  color: #F9FBFF;
  padding: 12px 46px;
  border-radius: 4px;
  background: #DF617F;
}

.hero {
  height: 800px;
  background: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero .row {
  max-width: 100%;
}
.hero .row h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 879px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}
.hero .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 60px;
}
.hero .description {
  color: #F9FBFF;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 0;
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  color: #F9FBFF;
  background-color: #DF617F;
  font-size: 24px;
  line-height: 100%;
  gap: 8px;
  padding: 16px 24px;
}
.hero__button:hover {
  color: #DF617F;
  border: 2px solid #DF617F;
  background: #121212;
}

.about .owl-carousel {
  margin: 40px 0;
}
.about .owl-carousel .item {
  height: 159px;
  background: #B9B9B9;
  padding: 1rem;
}
.about .owl-carousel .item h4 {
  color: #F9FBFF;
  font-weight: 400;
  margin-top: 0rem;
}
.about .owl-carousel .owl-item {
  height: 159px;
}
.about .owl-carousel .item-video {
  height: 300px;
}
.about .owl-theme .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  position: relative;
  top: -96px;
}
.about .owl-theme .owl-nav button.owl-prev,
.about .owl-theme .owl-nav button.owl-next {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 32px;
}
.about .owl-theme .owl-nav [class*=owl-],
.about .owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
.about .owl-theme .owl-nav button.owl-prev,
.about .owl-theme .owl-nav button.owl-prev:hover {
  background: url("../images/slider-prev-button.png");
}
.about .owl-theme .owl-nav button.owl-next,
.about .owl-theme .owl-nav button.owl-next:hover {
  background: url("../images/slider-next-button.svg");
}
.about .owl-theme .owl-nav button.owl-prev span,
.about .owl-theme .owl-nav button.owl-next span {
  display: none;
}
.about .owl-theme .owl-nav [class*=owl-] {
  background-color: none !important;
}
.about .owl-theme .owl-dots {
  padding-top: 16px;
}
.about .owl-theme .owl-dots .owl-dot span {
  background: url("./images/slider-empty-points.svg") center center;
}
.about .owl-theme .owl-dots .owl-dot.active span {
  background: url("./images/slider-fill-point.svg");
}
.about .owl-theme .owl-dots:hover .owl-dot span {
  background: url("./images/slider-fill-point.svg");
}

.exhibition-2 {
  margin-top: 80px;
}
.exhibition .card__description {
  padding: 0 40px;
}

.schedule .row {
  padding-top: 52px;
  padding-bottom: 52px;
}
.schedule .row:first-of-type {
  padding-top: 0;
}
.schedule .row:last-of-type {
  padding-bottom: 0;
}

.partners .accordion-button:not(.collapsed) {
  color: #121212;
  background-color: #F9FBFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.partners .accordion-button:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.partners .accordion-button::after, .partners .accordion-button:not(.collapsed)::after {
  background-image: url("../images/open.png");
}
.partners img {
  height: 160px;
}

.contacts {
  background-color: #F9FBFF;
}
.contacts ul {
  list-style-type: none;
  padding-left: 0;
}
.contacts ul li,
.contacts ul li a {
  color: #121212;
  font-size: 24px;
  line-height: 150%;
}
.contacts ul li a:hover {
  color: #DF617F;
}
.contacts [type=button]:not(:disabled),
.contacts [type=reset]:not(:disabled),
.contacts [type=submit]:not(:disabled),
.contacts button:not(:disabled) {
  cursor: pointer;
}
.contacts .contact-form button {
  color: #F9FBFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 4px;
  border: 2px solid #DF617F;
  background: #DF617F;
}
.contacts .contact-form button:hover {
  border-radius: 4px;
  border: 2px solid #DF617F;
  background: #F9FBFF;
  color: #DF617F;
}
.contacts .contact-form input,
.contacts .contact-form textarea,
.contacts .contact-form select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contacts .form-control:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.footer {
  padding-top: 52px;
  padding-bottom: 52px;
  background: #121212;
}
.footer h4,
.footer p,
.footer ul,
.footer a {
  color: #F9FBFF;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: #DF617F;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
}